.calendar ul{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 1em;
}
.calendar li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 3em;
    height: 125px;
    color: black;
    background-color: rgb(16, 124, 220);
}
.other-months{
    background-color: rgb(209, 71, 71) !important;
}